@media screen and (min-width: 2000px) {

    $white_greyish_color: #E0E0E0;
    $light_greyish_color: #C8C8C8;
    $grey_color: #3A3A3C;
    $greyish_color: #282828;
    $dark_grey_1: #121212;
    $dark_grey_2: #17171a;
    $blackish_color: #0c0c0d;
    $light_purple: #5d55fa;
    $lighter_purple: #5D88FA;
    $dark-red: rgba(255, 0, 0, 0.8);

    %outline-style-large {
        outline-style: solid;
        outline-width: 3px;
        outline-color: $lighter_purple;
    }

    %centered-form-layout-large {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 3% 0;
        height: fit-content;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-radius: 15px;
    }

    %input-style-large {
        padding: 1.5% 2%;
        margin-bottom: 6%;
        background: $dark_grey_2;
        border: solid 3px $dark_grey_2;
        border-radius: 5px;
        color: $white_greyish_color;
        font-size: 1.7em;
        font-weight: 500;
    }

    %submit-btn-large {
        margin-top: 4%;
        padding: 1.5%;
        border: none;
        border-radius: 5px;
        background: $light_purple;
        color: $white_greyish_color;
        font-size: 2em;
        &:hover {
            cursor: pointer;
            background: $lighter_purple;
        }
    }


    // login and registration page --------------------------------------------------------------------
    .login-signup-form {
        @extend %centered-form-layout-large;
    }

    .login-signup-form__title {
        margin: 0 auto 12%;
        font-size: 4em;
    }

    .login-signup-form__label, .login-signup-form__input, 
    .login-signup-form__btn {
        margin-left: 12.5%;
    }

    .login-signup-form__label {
        margin-bottom: 2%;
        font-size: 1.2em;
    }

    .login-signup-form__input {
        @extend %input-style-large;
        width: 75%;
    }

    .login-signup-form__btn {
        @extend %submit-btn-large;
        width: 75%;
    }

    .login-signup-form__text {
        margin: 10% auto 5%;
        width: fit-content;
        font-size: 2em;
    }


    // navigation bar --------------------------------------------------------------------
    .nav {
        padding: 0.7vh 0 1.5vh;
    }

    .nav__title {
        font-size: 3em;
    }

    .nav__signup-btn, .nav__login-btn {
        @extend %submit-btn-large;
        margin-top: 0;
        padding: 0.5%;
        float: right;
        transform: translateY(15%);
        &:focus {
            @extend %outline-style-large;
        }
    }

    .nav__account-icon {
        transform: scale(2);
    }


    // account dropdown modal --------------------------------------------------------------------------
    .options-modal__btn {
        font-size: 3em;
        &:focus {
            @extend %outline-style-large;
        }
    }


    // Mainpage left panel --------------------------------------------------------------------
    .left-panel {
        bottom: 4%;
    }

    .left-panel__select-button {
        font-size: 2.5em;
        &:focus {
            @extend %outline-style-large;
        }
    }

    .left-panel__select-button__icon {
        font-size: 1em;
    }

    .left-panel__input {
        font-size: 2em;
        &:focus {
            @extend %outline-style-large;
        }
    }

    .left-panel__add-button {
        &:focus {
            @extend %outline-style-large;
        }
    }

    .left-panel__add-button__icon {
        font-size: 3rem;
    }


    // Mainpage right panel --------------------------------------------------------------------
    .topic-content {
        font-size: 2em;
    }

    .topic-content__add-button {
        &:focus {
            @extend %outline-style-large;
        }
    }

    .topic-content__add-button__icon {
        font-size: 2.5rem;
    }


    // modals -----------------------------------------------------------------------------------
    .password-modal, .link-modal {
        @extend %centered-form-layout-large;
        width: 35%;
        background: $greyish_color;
        z-index: 2;
    }

    .password-modal__close-btn, .link-modal__close-btn {
        margin: -7% 0 0 92%;
        font-size: 3em;
    }

    .password-modal__label, .password-modal__input, .password-modal__submit-btn,
    .link-modal__label, .link-modal__input, .link-modal__submit-btn {
        margin-left: 15%;
    }

    .password-modal__label, .link-modal__label {
        margin-bottom: 1.5%;
        font-size: 1.5em;
    }

    .password-modal__input, .link-modal__input {
        @extend %input-style-large;
        width: 70%;
    }

    .password-modal__submit-btn, .link-modal__submit-btn {
        @extend %submit-btn-large;
        width: 70%;
    }



}