.nav__signup-btn:focus, .nav__login-btn:focus, .options-modal__btn:focus, .left-panel__select-button:focus, .left-panel__input:focus, .left-panel__add-button:focus, .topic-content__add-button:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #5D88FA;
}

.login-signup-form, .password-modal, .link-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2.5% 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 15px;
}

.login-signup-form__input, .password-modal__input, .link-modal__input {
  padding: 1% 2%;
  margin-bottom: 4%;
  background: #17171a;
  border: solid 3px #17171a;
  border-radius: 5px;
  color: #E0E0E0;
  font-size: 1.1em;
  font-weight: 500;
}

.login-signup-form__btn, .nav__signup-btn, .nav__login-btn, .password-modal__submit-btn, .link-modal__submit-btn {
  margin-top: 6%;
  padding: 2%;
  border: none;
  border-radius: 5px;
  background: #5d55fa;
  color: #E0E0E0;
  font-size: 1.1em;
}

.login-signup-form__btn:hover, .nav__signup-btn:hover, .nav__login-btn:hover, .password-modal__submit-btn:hover, .link-modal__submit-btn:hover {
  cursor: pointer;
  background: #5D88FA;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #0c0c0d;
  font-family: 'Noto Sans JP', sans-serif;
  overflow: hidden;
}

.login-signup-form {
  background: #282828;
}

.login-signup-form__title {
  margin: 0 auto 10%;
  color: #5D88FA;
}

.login-signup-form__label, .login-signup-form__input,
.login-signup-form__btn {
  margin-left: 16%;
}

.login-signup-form__label {
  margin-bottom: 1.5%;
  color: #C8C8C8;
}

.login-signup-form__input {
  width: 70%;
}

.login-signup-form__btn {
  width: 70%;
}

.login-signup-form__text {
  margin: 8% auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #C8C8C8;
}

.login-signup-form__text_link {
  text-decoration: none;
  color: #5D88FA;
}

.nav {
  background: #282828;
  padding: 0.5% 0;
  height: 9vh;
}

.nav__menu-icon {
  display: hidden;
  position: absolute;
  z-index: -1;
}

.nav__title {
  margin-left: 2%;
  font-size: 2em;
  font-weight: 500;
  color: #5D88FA;
}

.nav__signup-btn, .nav__login-btn {
  margin-top: 0;
  padding: 0.5%;
  float: right;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  margin-right: 5%;
}

.nav__account-icon {
  float: right;
  margin-right: 5%;
  padding-top: 0.5%;
  color: #5D88FA;
}

.nav__account-icon:hover {
  cursor: pointer;
}

.options-modal {
  position: absolute;
  right: 2%;
  padding: 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
  background: #282828;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options-modal__btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  color: #C8C8C8;
  font-size: 1.2em;
}

.options-modal__btn:hover {
  cursor: pointer;
  color: #5D88FA;
}

.options-modal__btn:nth-child(2) {
  margin: 5% auto;
}

.left-panel {
  position: absolute;
  bottom: 3vh;
  left: 1.5vw;
  padding: 1% 0;
  background: #282828;
  border-radius: 7px;
  height: 85vh;
  width: 20vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.left-panel__select-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  width: 100%;
  padding: 3% 0 3% 8%;
  margin-bottom: 3%;
  border: none;
  background: transparent;
  color: #C8C8C8;
  text-align: left;
  font-size: 1.2em;
}

.left-panel__select-button:hover {
  cursor: pointer;
  background: #5D88FA;
  color: #E0E0E0;
}

.left-panel__select-button:hover .left-panel__select-button__icon {
  visibility: visible;
}

.left-panel__select-button__icon {
  visibility: hidden;
  float: right;
  margin-right: 7%;
  font-size: 0.9em;
}

.left-panel__select-button__icon:hover {
  color: #e94560;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.left-panel__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  bottom: 0;
  left: 7%;
  display: inline-block;
  width: 75%;
  padding: 2%;
  margin-bottom: 5%;
  background: #17171a;
  border: solid 3px #17171a;
  border-radius: 5px;
  color: #E0E0E0;
}

.left-panel__add-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  bottom: 0;
  right: 2%;
  display: inline-block;
  width: 15%;
  padding: 2% 0;
  margin-bottom: 5%;
  border: none;
  background: transparent;
  text-align: center;
  color: #5d55fa;
}

.left-panel__add-button:hover {
  cursor: pointer;
  color: #5D88FA;
}

.left-panel__add-button__icon {
  font-size: 1.4rem;
}

.topic-content {
  position: absolute;
  right: 1%;
  bottom: 3%;
  width: 77vw;
  height: 85vh;
  padding: 1%;
  font-size: 1.3em;
  overflow-y: auto;
  overflow-x: hidden;
}

.topic-content__add-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  position: absolute;
  right: 5%;
  bottom: 3%;
  width: 3.5vw;
  height: 3.5vw;
  padding: 5px 0;
  border: none;
  border-radius: 50%;
  background: #5d55fa;
  color: #E0E0E0;
  font-size: 1em;
  text-align: center;
}

.topic-content__add-button:hover {
  cursor: pointer;
  background: #5D88FA;
}

.topic-content__add-button__icon {
  font-size: 1.4rem;
}

.topic-content__link {
  display: inline-block;
  margin: 0 1.5% 2%;
  padding: 0.5% 0.5% 1.5% 1.5%;
  max-width: 45%;
  border-radius: 5px;
  background: #282828;
}

.topic-content__link a {
  text-decoration: none;
  color: #5d55fa;
}

.topic-content__link:hover {
  background: #3A3A3C;
}

.topic-content__link__close-btn {
  display: inline-block;
  width: 97%;
  color: #121212;
}

.topic-content__link__close-btn:hover {
  cursor: pointer;
}

.topic-content__link__close-btn__icon {
  float: right;
}

.topic-content__link__close-btn__icon:hover {
  color: rgba(255, 0, 0, 0.8);
}

.password-modal, .link-modal {
  width: 35%;
  background: #282828;
  z-index: 2;
}

.password-modal__close-btn, .link-modal__close-btn {
  color: rgba(255, 0, 0, 0.8);
  margin: -7% 0 0 90%;
  font-size: 2em;
}

.password-modal__close-btn:hover, .link-modal__close-btn:hover {
  cursor: pointer;
}

.password-modal__label, .password-modal__input, .password-modal__submit-btn,
.link-modal__label, .link-modal__input, .link-modal__submit-btn {
  margin-left: 15%;
}

.password-modal__label, .link-modal__label {
  margin-bottom: 1.5%;
  color: #C8C8C8;
}

.password-modal__input, .link-modal__input {
  width: 70%;
}

.password-modal__submit-btn, .link-modal__submit-btn {
  width: 70%;
}

@media screen and (max-width: 800px) {
  .login-signup-form, .password-modal, .link-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 3% 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-radius: 15px;
  }
  .login-signup-form__input, .password-modal__input, .link-modal__input {
    padding: 1% 2%;
    margin-bottom: 7%;
    background: #17171a;
    border: solid 3px #17171a;
    border-radius: 5px;
    color: #E0E0E0;
    font-size: 1em;
    font-weight: 500;
  }
  .login-signup-form__btn, .password-modal__submit-btn, .link-modal__submit-btn {
    margin-top: 6%;
    padding: 2%;
    border: none;
    border-radius: 5px;
    background: #5d55fa;
    color: #E0E0E0;
    font-size: 1em;
  }
  .login-signup-form__btn:hover, .password-modal__submit-btn:hover, .link-modal__submit-btn:hover {
    cursor: pointer;
    background: #5D88FA;
  }
  .login-signup-form__title {
    margin: 0 auto 12%;
    font-size: 1.7em;
  }
  .login-signup-form__label, .login-signup-form__input,
  .login-signup-form__btn {
    margin-left: 12.5%;
  }
  .login-signup-form__label {
    margin-bottom: 2%;
    font-size: 0.9em;
  }
  .login-signup-form__input {
    width: 75%;
  }
  .login-signup-form__btn {
    width: 75%;
  }
  .login-signup-form__text {
    margin: 10% auto 5%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 75%;
    font-size: 0.9em;
  }
  .nav {
    padding: 1.5% 0 2%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .nav__menu-icon {
    display: inline-block;
    position: relative;
    z-index: 0;
    margin-left: 4%;
    font-size: 1.2em;
    color: #5D88FA;
  }
  .nav__title {
    margin-left: 4%;
    font-size: 1.2em;
  }
  .nav__signup-btn, .nav__login-btn {
    margin-top: 0;
    padding: 1%;
    border: none;
    border-radius: 3px;
    font-size: 0.8em;
    float: right;
    margin-right: 5%;
  }
  .nav__account-icon {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .options-modal__btn {
    font-size: 0.9em;
  }
  .left-panel {
    position: absolute;
    top: 53%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 1% 0;
    height: 88vh;
    width: 95vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-radius: 7px;
    z-index: 1;
  }
  .left-panel__select-button {
    padding: 3% 0 3% 8%;
    margin-bottom: 3%;
    background: #3A3A3C;
    font-size: 1.2em;
  }
  .left-panel__select-button__icon {
    visibility: visible;
    float: right;
    margin-right: 7%;
    font-size: 0.9em;
    color: #121212;
  }
  .left-panel__input {
    padding: 1.5%;
  }
  .left-panel__add-button {
    padding: 1.5% 0;
  }
  .left-panel__add-button__icon {
    font-size: 1.3rem;
  }
  .topic-content {
    width: 97vw;
    height: 88vh;
    padding: 1%;
    font-size: 0.9em;
  }
  .topic-content__add-button {
    right: 7%;
    bottom: 3%;
    width: 11vw;
    height: 11vw;
    padding: 5px 0;
    font-size: 1em;
  }
  .topic-content__add-button__icon {
    font-size: 1.2rem;
  }
  .topic-content__link {
    margin: 0 1.5% 2%;
    padding: 0.5% 0.5% 1.5% 1.5%;
    max-width: 100%;
  }
  .topic-content__link__close-btn {
    display: inline-block;
    width: 97%;
    color: #121212;
  }
  .password-modal, .link-modal {
    width: 80%;
  }
  .password-modal__close-btn, .link-modal__close-btn {
    margin: -4% 0 0 88%;
    font-size: 1.5em;
  }
  .password-modal__label, .password-modal__input, .password-modal__submit-btn,
  .link-modal__label, .link-modal__input, .link-modal__submit-btn {
    margin-left: 10%;
  }
  .password-modal__label, .link-modal__label {
    margin-bottom: 2%;
    font-size: 0.8em;
  }
  .password-modal__input, .link-modal__input {
    width: 80%;
  }
  .password-modal__submit-btn, .link-modal__submit-btn {
    margin: 4% auto 3%;
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */