%button-style {
    appearance: none;
    padding: 0.2% 0.5%;
    background: lightgray;
    border: solid 2px lightgray;
    border-radius: 3px;
    font-size: 1.2em;
    &:hover {
        cursor: pointer;
    }
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    overflow: hidden;
}


// navigation bar --------------------------------------------------------------------
nav {
    background: skyblue;
    padding: 0.5% 0;
    span {
        margin-left: 2%;
        font-size: 2em;
    }
    .signup_button, .login_button {
        @extend %button-style;
        float: right;
        transform: translateY(20%);
        margin-right: 5%;
    }
}

.account_icon {
    float: right;
    margin-right: 5%;
    padding-top: 0.5%;
    &:hover {
        cursor: pointer;
    }
}


// account dropdown modal --------------------------------------------------------------------------
.options-modal {
    position: absolute;
    right: 2%;
    padding: 5px;
    height: fit-content;
    width: fit-content;
    z-index: 10;
    background: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.options-modal button {
    appearance: none;
    outline: red;
    background: transparent;
    border: none;
    font-size: 1.2em;
    &:hover {
        cursor: pointer;
        background: yellow;
    }
}



// login and registration page --------------------------------------------------------------------
.login-join-form {
    background: skyblue;
    margin: 5% auto 0;
    padding-left: 10%;
    height: 70vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h1 {
        margin-top: -10%;
        margin-bottom: 10%;
    }
}

.login-join-form input {
    width: 70%;
    height: 7%;
    padding: 1% 2%;
    margin-bottom: 3%;
}

.login-join-form button {
    margin-top: 4%;
    width: 70%;
    height: 7%;
    &:hover {
        cursor: pointer;
    }
}

.login-join-form p {
    margin-top: 9%;
    width: 70%;
    .navlink {
        margin-left: 2%;
        text-decoration: none;
        color: red;
    }
}



// password-change modal ------------------------------------------------------------------------
.password-modal {
    position: absolute;
    margin: 15% 20% 0;
    height: 40vh;
    width: 60%;
    z-index: 10;
    background: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.password-modal span {
    color: red;
    margin: -6% 0 0 95%;
    font-size: 2em;
    &:hover {
        cursor: pointer;
    }
}

.password-modal label, .password-modal input, .password-modal button {
    margin-left: 25%;
}

.password-modal input {
    width: 50%;
    height: 10%;
    padding: 1% 2%;
    margin-bottom: 1%;
}

.password-modal button {
    margin-top: 4%;
    width: 50%;
    height: 10%;
    &:hover {
        cursor: pointer;
    }
}



// Mainpage left panel --------------------------------------------------------------------
.left-panel {
    position: absolute;
    left: 0;
    background: lightgreen;
    height: 100vh;
    width: 20vw;
}

.left-panel input {
    appearance: none;
    display: inline-block;
    width: 80%;
    padding: 2%;
    margin-bottom: 5%;
    border: none;
}

.left-panel .add-button {
    appearance: none;
    display: inline-block;
    width: 20%;
    padding: 2% 0;
    margin-bottom: 5%;
    border: none;
    background: transparent;
    text-align: center;
    &:hover {
        cursor: pointer;
    }
}

.topic-button {
    appearance: none;
    display: inline-block;
    width: 100%;
    padding: 2% 0;
    border: none;
    background: transparent;
    text-align: center;
    font-size: 1.2em;
    &:hover {
        cursor: pointer;
    }
}



// Mainpage left panel --------------------------------------------------------------------
.main-content {
    position: absolute;
    right: 5%;
    color: red;
    font-size: 1.5em;
}
