
$white_color: #fff;
$white_greyish_color: #E0E0E0;
$light_greyish_color: #C8C8C8;
$grey_color: #3A3A3C;
$greyish_color: #282828;
$dark_grey_1: #121212;
$dark_grey_2: #17171a;
$blackish_color: #0c0c0d;
// $dark_purple_1: #0C0032;
$dark_purple_2: #190061;
$dark_purple_3: #240090;
$dark_purple_4: #3500D3;
$light_purple: #5d55fa;
$lighter_purple: #5D88FA;
$redish_color: #e94560;

%button-style {
    appearance: none;
    padding: 0.2% 0.5%;
    background: lightgray;
    border: solid 2px lightgray;
    border-radius: 3px;
    font-size: 1.2em;
    &:hover {
        cursor: pointer;
    }
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $blackish_color;
    font-family: 'Noto Sans JP', sans-serif;
    overflow: hidden;
}



// login and registration page --------------------------------------------------------------------
.login-signup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3% 0;
    height: fit-content;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: $greyish_color;
    border-radius: 15px;
}

.login-signup-form__title {
    margin: 0 auto 10%;
    color: $lighter_purple;
}

.login-signup-form__label, .login-signup-form__input, 
.login-signup-form__btn {
    margin-left: 16%;
}

.login-signup-form__label {
    margin-bottom: 1.5%;
    color: $light_greyish_color;
}

.login-signup-form__input {
    width: 70%;
    padding: 1% 2%;
    margin-bottom: 3%;
    background: $dark_grey_2;
    border: solid 3px $dark_grey_2;
    border-radius: 5px;
    color: $white_greyish_color;
    font-size: 1.1em;
    font-weight: 500;
}

.login-signup-form__btn {
    margin-top: 6%;
    padding: 2%;
    width: 70%;
    border: none;
    border-radius: 5px;
    background: $light_purple;
    color: $white_greyish_color;
    font-size: 1.1em;
    &:hover {
        cursor: pointer;
        background: $lighter_purple;
    }
}

.login-signup-form__text {
    margin: 8% auto 0;
    width: fit-content;
    color: $light_greyish_color;
}

.login-signup-form__text_link {
    text-decoration: none;
    color: $lighter_purple;
}



// navigation bar --------------------------------------------------------------------
.nav {
    background: $greyish_color;
    padding: 0.5% 0;
    .nav__title {
        margin-left: 2%;
        font-size: 2em;
        font-weight: 500;
        color: $lighter_purple;
    }
}

.nav__signup-btn, .nav__login-btn {
    @extend %button-style;
    float: right;
    transform: translateY(20%);
    margin-right: 5%;
}

.nav__account-icon {
    float: right;
    margin-right: 5%;
    padding-top: 0.5%;
    color: $lighter_purple;
    &:hover {
        cursor: pointer;
    }
}


// account dropdown modal --------------------------------------------------------------------------
.options-modal {
    position: absolute;
    right: 2%;
    padding: 8px;
    height: fit-content;
    width: fit-content;
    z-index: 10;
    background: $greyish_color;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.options-modal__btn {
    appearance: none;
    background: transparent;
    border: none;
    color: $light_greyish_color;
    font-size: 1.2em;
    &:hover {
        cursor: pointer;
        color: $lighter_purple;
    }
    &:nth-child(2) {
        margin: 5% auto;
    }
}



// Mainpage left panel --------------------------------------------------------------------
.left-panel {
    position: absolute;
    bottom: 3%;
    left: 1%;
    padding: 1% 2%;
    background: $greyish_color;
    border-radius: 10px;
    height: 85vh;
    width: 20vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.left-panel__select-button {
    appearance: none;
    display: inline-block;
    width: 100%;
    padding: 2% 0;
    margin-bottom: 5%;
    border: solid 2px $light_purple;
    border-radius: 50px;
    background: transparent;
    color: $light_greyish_color;
    text-align: center;
    font-size: 1.2em;
    &:hover {
        cursor: pointer;
    }
}

.left-panel__input {
    appearance: none;
    position: absolute;
    bottom: 0;
    left: 4%;
    display: inline-block;
    width: 80%;
    padding: 2%;
    margin-bottom: 5%;
    background: $dark_grey_2;
    border: solid 3px $dark_grey_2;
    border-radius: 5px;
    color: $white_greyish_color;
}

.left-panel__add-button {
    appearance: none;
    position: absolute;
    bottom: 0.5%;
    right: -1.5%;
    display: inline-block;
    width: 20%;
    padding: 2% 0;
    margin-bottom: 5%;
    border: none;
    background: transparent;
    text-align: center;
    color: $light_purple;
    // z-index: 10;
    &:hover {
        cursor: pointer;
    }
    i {
        transform: scale(1.5);
    }
}



// Mainpage right panel --------------------------------------------------------------------
.main-content {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    padding: 1%;
    color: red;
    font-size: 1.5em;
    overflow-y: auto;
    overflow-x: hidden;
}

.group-add-button {
    appearance: none;
    display: inline-block;
    position: relative;
    left: 90%;
    width: 5%;
    padding: 5px 0;
    margin-bottom: 5%;
    border: none;
    background: rgb(203, 209, 214);
    text-align: center;
    &:hover {
        cursor: pointer;
    }
}



// modals -----------------------------------------------------------------------------------
.password-modal, .link-modal {
    position: absolute;
    margin: 5% 20% 0;
    height: 40vh;
    width: 60%;
    z-index: 10;
    background: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.password-modal span, .link-modal span {
    color: red;
    margin: -6% 0 0 95%;
    font-size: 2em;
    &:hover {
        cursor: pointer;
    }
}

.password-modal label, .password-modal input, .password-modal button {
    margin-left: 25%;
}

.password-modal input {
    width: 50%;
    height: 10%;
    padding: 1% 2%;
    margin-bottom: 1%;
}

.password-modal button, .link-modal button {
    margin-top: 4%;
    width: 50%;
    height: 10%;
    &:hover {
        cursor: pointer;
    }
}

.link-modal {
    padding-left: 5%;
}

