.options-modal__btn:focus, .group-section__select-button:focus, .input-field__input:focus, .input-field__add-button:focus, .topic-content__add-button:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #5D9BFC;
}

.login-signup-form, .password-modal, .link-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2.5% 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 15px;
}

.login-signup-form__input, .password-modal__input, .link-modal__input {
  padding: 1% 2%;
  margin-bottom: 4%;
  background: #17171a;
  border: solid 3px #17171a;
  border-radius: 5px;
  color: #E0E0E0;
  font-size: 1.1em;
  font-weight: 500;
}

.login-signup-form__btn, .password-modal__submit-btn, .link-modal__submit-btn {
  margin-top: 6%;
  padding: 2%;
  border: none;
  border-radius: 5px;
  background: #5D9BFC;
  color: #E0E0E0;
  font-size: 1.1em;
}

.login-signup-form__btn:hover, .password-modal__submit-btn:hover, .link-modal__submit-btn:hover {
  cursor: pointer;
  background: #5288DE;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #0c0c0d;
  font-family: 'Noto Sans JP', sans-serif;
  overflow: hidden;
}

.login-signup-form {
  background: #282828;
}

.login-signup-form__title {
  margin: 0 auto 10%;
  color: #5D9BFC;
}

.login-signup-form__label, .login-signup-form__input,
.login-signup-form__btn {
  margin-left: 16%;
}

.login-signup-form__label {
  margin-bottom: 1.5%;
  color: #C8C8C8;
}

.login-signup-form__input {
  width: 70%;
}

.login-signup-form__btn {
  width: 70%;
}

.login-signup-form__text {
  margin: 8% auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #C8C8C8;
}

.login-signup-form__text_link {
  text-decoration: none;
  color: #5D9BFC;
}

.nav {
  background: #282828;
  padding: 0.7vh 0 1vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.nav__menu-icon {
  display: hidden;
  position: absolute;
  z-index: -1;
}

.nav__title {
  margin-left: 2%;
  font-size: 2em;
  font-weight: 500;
  color: #5D9BFC;
}

.nav__account-icon {
  float: right;
  margin-right: 5%;
  padding-top: 0.5%;
  color: #5D9BFC;
}

.nav__account-icon:hover {
  cursor: pointer;
}

.options-modal {
  position: absolute;
  right: 3%;
  padding: 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  z-index: 1;
  background: #282828;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options-modal__btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  color: #C8C8C8;
  font-size: 1.2em;
}

.options-modal__btn:hover {
  cursor: pointer;
  color: #5D9BFC;
}

.options-modal__btn:nth-child(2) {
  margin: 5% auto;
}

.left-panel {
  position: absolute;
  bottom: 3%;
  left: 1.5vw;
  padding: 1% 0;
  background: #282828;
  border-radius: 7px;
  height: 87vh;
  width: 20vw;
}

.group-section {
  height: 75vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.group-section::-webkit-scrollbar {
  width: 0.4em;
}

.group-section::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 50px;
}

.group-section::-webkit-scrollbar-track {
  background: #121212;
}

.group-section__select-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  width: 100%;
  padding: 3% 0 3% 8%;
  margin-bottom: 3%;
  border: none;
  background: transparent;
  color: #C8C8C8;
  text-align: left;
  font-size: 1.2em;
}

.group-section__select-button:hover {
  cursor: pointer;
  background: #5D9BFC;
  color: #E0E0E0;
}

.group-section__select-button:hover .group-section__select-button__icon {
  visibility: visible;
}

.group-section__select-button__icon {
  visibility: hidden;
  float: right;
  margin: 1% 10% 0 0;
  font-size: 0.9em;
}

.group-section__select-button__icon:hover {
  color: rgba(255, 0, 0, 0.8);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.highlight {
  background: #5D9BFC;
  color: #E0E0E0;
}

.input-field__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  bottom: 0;
  left: 7%;
  z-index: 1;
  display: inline-block;
  width: 75%;
  padding: 2%;
  margin-bottom: 5%;
  background: #17171a;
  border: solid 3px #17171a;
  border-radius: 5px;
  color: #E0E0E0;
}

.input-field__add-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  bottom: 0;
  right: 2%;
  z-index: 1;
  display: inline-block;
  width: 15%;
  padding: 2% 0;
  margin-bottom: 5%;
  border: none;
  background: transparent;
  text-align: center;
  color: #5D9BFC;
  z-index: 3;
}

.input-field__add-button:hover {
  cursor: pointer;
  color: #5288DE;
}

.input-field__add-button__icon {
  font-size: 1.4rem;
}

.topic-content {
  position: absolute;
  right: 1%;
  bottom: 3%;
  width: 77vw;
  height: 87vh;
  padding: 1%;
  font-size: 1.3em;
  overflow-y: auto;
  overflow-x: hidden;
}

.topic-content::-webkit-scrollbar {
  width: 0.4em;
}

.topic-content::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 50px;
}

.topic-content::-webkit-scrollbar-track {
  background: #121212;
}

.topic-content__add-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  position: fixed;
  right: 5%;
  bottom: 4%;
  width: 3.5vw;
  height: 3.5vw;
  padding: 5px 0;
  border: none;
  border-radius: 50%;
  background: #5D9BFC;
  color: #E0E0E0;
  text-align: center;
}

.topic-content__add-button:hover {
  cursor: pointer;
  background: #5288DE;
}

.topic-content__add-button__icon {
  font-size: 1.4rem;
}

.topic-content__link {
  display: inline-block;
  margin: 0 1.5% 2%;
  padding: 0.5% 0.5% 1.5% 1.5%;
  max-width: 45%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  background: #282828;
}

.topic-content__link a {
  max-width: 45%;
  text-decoration: none;
  color: #5D9BFC;
}

.topic-content__link:hover {
  background: #3A3A3C;
}

.topic-content__link__close-btn {
  display: inline-block;
  width: 97%;
  color: #121212;
}

.topic-content__link__close-btn:hover {
  cursor: pointer;
}

.topic-content__link__close-btn__icon {
  float: right;
}

.topic-content__link__close-btn__icon:hover {
  color: rgba(255, 0, 0, 0.8);
}

.password-modal, .link-modal {
  width: 35%;
  background: #282828;
  z-index: 2;
  -webkit-box-shadow: 0 3px 10px 5px #3A3A3C;
          box-shadow: 0 3px 10px 5px #3A3A3C;
}

.password-modal__close-btn, .link-modal__close-btn {
  color: rgba(255, 0, 0, 0.8);
  margin: -7% 0 0 90%;
  font-size: 2em;
}

.password-modal__close-btn:hover, .link-modal__close-btn:hover {
  cursor: pointer;
}

.password-modal__label, .password-modal__input, .password-modal__submit-btn,
.link-modal__label, .link-modal__input, .link-modal__submit-btn {
  margin-left: 15%;
}

.password-modal__label, .link-modal__label {
  margin-bottom: 1.5%;
  color: #C8C8C8;
}

.password-modal__input, .link-modal__input {
  width: 70%;
}

.password-modal__submit-btn, .link-modal__submit-btn {
  width: 70%;
}

@media screen and (max-width: 800px) {
  .login-signup-form, .password-modal, .link-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 3% 0 2%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-radius: 15px;
  }
  .login-signup-form__input, .password-modal__input, .link-modal__input {
    padding: 1% 2%;
    margin-bottom: 7%;
    background: #17171a;
    border: solid 3px #17171a;
    border-radius: 5px;
    color: #E0E0E0;
    font-size: 1em;
    font-weight: 500;
  }
  .login-signup-form__btn, .password-modal__submit-btn, .link-modal__submit-btn {
    margin-top: 6%;
    padding: 2%;
    border: none;
    border-radius: 5px;
    background: #5D88FA;
    color: #E0E0E0;
    font-size: 1em;
  }
  .login-signup-form__btn:hover, .password-modal__submit-btn:hover, .link-modal__submit-btn:hover {
    cursor: pointer;
    background: #5d55fa;
  }
  .login-signup-form__title {
    margin: 0 auto 12%;
    font-size: 1.7em;
  }
  .login-signup-form__label, .login-signup-form__input,
  .login-signup-form__btn {
    margin-left: 10%;
  }
  .login-signup-form__label {
    margin-bottom: 2%;
    font-size: 0.9em;
  }
  .login-signup-form__input {
    width: 80%;
  }
  .login-signup-form__btn {
    width: 80%;
  }
  .login-signup-form__text {
    margin: 10% auto 5%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 80%;
    font-size: 0.9em;
  }
  .nav {
    padding: 1.5% 0 2%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .nav__menu-icon {
    display: inline-block;
    position: relative;
    z-index: 0;
    margin-left: 4%;
    font-size: 1.3em;
    color: #5D88FA;
  }
  .nav__title {
    margin-left: 4%;
    font-size: 1.3em;
  }
  .nav__account-icon {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .options-modal {
    position: absolute;
    right: 4%;
    padding: 5px;
  }
  .options-modal__btn {
    font-size: 1.2em;
  }
  .left-panel {
    position: absolute;
    top: 53%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 1% 0;
    height: 88vh;
    width: 95vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-radius: 7px;
    z-index: 1;
  }
  .group-section__select-button {
    padding: 3% 0 3% 8%;
    margin-bottom: 3%;
    background: #3A3A3C;
    font-size: 1.2em;
  }
  .group-section__select-button__icon {
    visibility: visible;
    float: right;
    margin-right: 7%;
    font-size: 0.9em;
    color: #121212;
  }
  .topic-content__input {
    padding: 2%;
  }
  .topic-content__add-button {
    padding: 1.5% 0;
  }
  .topic-content__add-button__icon {
    font-size: 1.3rem;
  }
  .topic-content {
    width: 97vw;
    height: 88vh;
    padding: 1%;
    font-size: 0.9em;
  }
  .topic-content__add-button {
    right: 7%;
    bottom: 3%;
    width: 12vw;
    height: 12vw;
    padding: 5px 0;
  }
  .topic-content__add-button__icon {
    font-size: 1.5rem;
  }
  .topic-content__link {
    margin: 0 1.5% 2%;
    padding: 0.5% 0.5% 1.5% 1.5%;
    max-width: 100%;
  }
  .topic-content__link__close-btn {
    display: inline-block;
    width: 97%;
    color: #121212;
  }
  .password-modal, .link-modal {
    width: 80%;
  }
  .password-modal__close-btn, .link-modal__close-btn {
    margin: -4% 0 0 88%;
    font-size: 1.5em;
  }
  .password-modal__label, .password-modal__input, .password-modal__submit-btn,
  .link-modal__label, .link-modal__input, .link-modal__submit-btn {
    margin-left: 10%;
  }
  .password-modal__label, .link-modal__label {
    margin-bottom: 2%;
    font-size: 0.8em;
  }
  .password-modal__input, .link-modal__input {
    width: 80%;
  }
  .password-modal__submit-btn, .link-modal__submit-btn {
    margin: 4% auto 3%;
    width: 80%;
  }
}

@media screen and (min-width: 2000px) {
  .options-modal__btn:focus, .group-section__select-button:focus, .input-field__input:focus, .input-field__add-button:focus, .topic-content__add-button:focus {
    outline-style: solid;
    outline-width: 3px;
    outline-color: #5D88FA;
  }
  .login-signup-form, .password-modal, .link-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 3% 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-radius: 15px;
  }
  .login-signup-form__input, .password-modal__input, .link-modal__input {
    padding: 1.5% 2%;
    margin-bottom: 6%;
    background: #17171a;
    border: solid 3px #17171a;
    border-radius: 5px;
    color: #E0E0E0;
    font-size: 1.7em;
    font-weight: 500;
  }
  .login-signup-form__btn, .password-modal__submit-btn, .link-modal__submit-btn {
    margin-top: 4%;
    padding: 1.5%;
    border: none;
    border-radius: 5px;
    background: #5d55fa;
    color: #E0E0E0;
    font-size: 2em;
  }
  .login-signup-form__btn:hover, .password-modal__submit-btn:hover, .link-modal__submit-btn:hover {
    cursor: pointer;
    background: #5D88FA;
  }
  .login-signup-form__title {
    margin: 0 auto 12%;
    font-size: 4em;
  }
  .login-signup-form__label, .login-signup-form__input,
  .login-signup-form__btn {
    margin-left: 12.5%;
  }
  .login-signup-form__label {
    margin-bottom: 2%;
    font-size: 1.2em;
  }
  .login-signup-form__input {
    width: 75%;
  }
  .login-signup-form__btn {
    width: 75%;
  }
  .login-signup-form__text {
    margin: 10% auto 5%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 2em;
  }
  .nav {
    padding: 0.7vh 0 1.5vh;
  }
  .nav__title {
    font-size: 3em;
  }
  .nav__account-icon {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  .options-modal__btn {
    font-size: 3em;
  }
  .left-panel {
    bottom: 4%;
  }
  .group-section__select-button {
    font-size: 2.5em;
  }
  .group-section__select-button__icon {
    font-size: 1em;
  }
  .input-field__input {
    font-size: 2em;
  }
  .input-field__add-button__icon {
    font-size: 3rem;
  }
  .topic-content {
    font-size: 2em;
  }
  .topic-content__add-button__icon {
    font-size: 2.5rem;
  }
  .password-modal, .link-modal {
    width: 35%;
    background: #282828;
    z-index: 2;
  }
  .password-modal__close-btn, .link-modal__close-btn {
    margin: -7% 0 0 92%;
    font-size: 3em;
  }
  .password-modal__label, .password-modal__input, .password-modal__submit-btn,
  .link-modal__label, .link-modal__input, .link-modal__submit-btn {
    margin-left: 15%;
  }
  .password-modal__label, .link-modal__label {
    margin-bottom: 1.5%;
    font-size: 1.5em;
  }
  .password-modal__input, .link-modal__input {
    width: 70%;
  }
  .password-modal__submit-btn, .link-modal__submit-btn {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */